.container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-1 {
  background-color: #569cd1;
  border: 1px solid;
  color: #fff;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
.button-1:hover {
  background-color: #fff;
  color: #569cd1;
}

.button-2 {
  background-color: #fff;
  border: none;
  color: #569cd1;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 400ms;
}
.button-2:hover {
  border-top: 3px solid;
  border-bottom: 3px solid;
  letter-spacing: 4px;
}

.button-3 {
  background-color: #fff;
  border: 1px solid #569cd1;
  color: #569cd1;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
.button-3:hover {
  background-color: #569cd1;
  color: #fff;
}

.bar-1 {
  width: 60px;
  height: 10px;
  background-color: black;
  transition: 400ms;
  margin: 10px 20px;
  margin-top: 25px;
}

.bar-2 {
  width: 60px;
  height: 10px;
  background-color: black;
  transition: 400ms;
  margin: 10px 20px;
}

.bar-3 {
  width: 60px;
  height: 10px;
  background-color: black;
  transition: 400ms;
  margin: 10px 20px;
}

.hamburger-1 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: #fff;
}
.hamburger-1:hover {
  background-color: black;
}
.hamburger-1:hover .bar-1 {
  background-color: #fff;
  transform: translateY(20px) rotate(45deg);
}
.hamburger-1:hover .bar-2 {
  opacity: 0;
}
.hamburger-1:hover .bar-3 {
  background-color: #fff;
  transform: translateY(-20px) rotate(-45deg);
}

.hamburger-2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: #fff;
}
.hamburger-2:hover {
  background-color: black;
}
.hamburger-2:hover .bar-1 {
  background-color: #fff;
  width: 40px;
  transform: rotate(-45deg) translateX(-13px);
}
.hamburger-2:hover .bar-2 {
  background-color: #fff;
}
.hamburger-2:hover .bar-3 {
  background-color: #fff;
  width: 40px;
  transform: rotate(45deg) translateX(-13px);
}

.hamburger-3 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: #fff;
}
.hamburger-3:hover {
  background-color: black;
}
.hamburger-3:hover .bar-1 {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50% 50%;
  border: 10px solid white;
  transform: translate(-10px, -15px);
}
.hamburger-3:hover .bar-2 {
  width: 50px;
  background-color: #fff;
  transform: translate(5px, -70px) rotate(45deg);
}
.hamburger-3:hover .bar-3 {
  width: 50px;
  background-color: #fff;
  transform: translate(5px, -90px) rotate(-45deg);
}

.kitten {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.65) rotate(0);
  transition: 400ms;
}
img:hover {
  transform: translate(-50%, -50%) scale(0.8) rotate(30deg);
}

.caption-1 > h3 {
  position: absolute;
  display: block;
  background-color: white;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 10% 49%);
  transform: translate(200px, 120px);
  transition: 400ms;
}

.kitten:hover > .caption-1 > h3 {
  transform: translate(50px, 120px);
}

.caption-2 > h3 {
  position: absolute;
  display: block;
  background-color: white;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 10% 49%);
  transform: translate(50px, 120px);
  transition: 400ms;
  transition: 400ms;
}

.kitten:hover > .caption-2 > h3 {
  transform: translate(200px, 120px);
}

.caption-2 > .price {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff6666;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  border: none;
  overflow: hidden;
  transform: translate(-100px, -100px);
  transition: 400ms;
}

.kitten:hover > .caption-2 > .price {
  transform: translate(-20px, -30px);
}

/*# sourceMappingURL=style.css.map */
