.flower {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateFlower 6s infinite;
}

/* .petals {
  animation: rotateFlower 6s infinite;
} */

@keyframes rotateFlower {
  0% { transform: rotate(0);}
  50% { transform: rotate(360deg) translateY(-150px);}
  100% { transform: rotate(-360deg);}
}

.petal {
  width:100px;
  height:30px;
  border-radius: 100px 100px;
  position: absolute;
  transform-origin: left;
}

.petal:nth-child(1) {
  background-color:#eb3492;
  transform: rotate(30deg);
}

.petal:nth-child(2) {
  background-color:#f27eb0;
  transform: rotate(60deg);
}

.petal:nth-child(3) {
  background-color:#e88043;
  transform: rotate(90deg);
}

.petal:nth-child(4) {
  background-color:#faa51b;
  transform: rotate(120deg);
}

.petal:nth-child(5) {
  background-color:yellow;
  transform: rotate(150deg);
}

.petal:nth-child(6) {
  background-color:#85e65c;
  transform: rotate(180deg);
}

.petal:nth-child(7) {
  background-color:#9df5d6;
  transform: rotate(210deg);
}

.petal:nth-child(8) {
  background-color:#52edf2;
  transform: rotate(240deg);
}

.petal:nth-child(9) {
  background-color:blue;
  transform: rotate(270deg);
}

.petal:nth-child(10) {
  background-color:#8417b3;
  transform: rotate(300deg);
}

.petal:nth-child(11) {
  background-color:#bc6edb;
  transform: rotate(330deg);
}

.petal:nth-child(12) {
  background-color:#db2547;
  transform: rotate(360deg);
}

.face {
  width:90px;
  height:90px;
  border-radius: 50% 50%;
  background-color:yellow;
  position: absolute;
  transform: translate(-44px, -30px);
}

.eye {
  width:20px;
  height:50px;
  border-radius: 50px 50px;
  position: absolute;
  border-top: 4px solid black;
  transition: animateEye 4s infinite;
}

.right {
  transform: translate(50px, 30px) rotate(15deg);
}

.left {
  transform: translate(18px, 30px) rotate(-15deg);
}

/* .eye {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.right {
transform: translate(57px, 30px);
}

.left {
transform: translate(16px, 11px);
}

.eye .sparkle:nth-child(1) {
width: 5px;
height: 5px;
background-color: white;
border-radius: 50%;
transform: translate(15px; 10px;);
}

.eye .sparkle:nth-child(2) {
width: 5px;
height: 5px;
background-color: red;
border-radius: 50%;
top: 10px;
transform: translate(15px; 10px;);
} */


.mouth {
  background-color: red;
  display: inline-block;
  height: 15px;
  margin: 0 10px;
  position: absolute;
  top: 0;
  transform: translate(26px, 50px) rotate(-45deg);
  width: 15px;
}

.mouth:before,
.mouth:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
}

.mouth:before {
  top: -9px;
  left: 0;
}

.mouth:after {
  left: 9px;
  top: 0;
}

/* .mouth {
  width: 12px;
  height: 9px;
  background-color: red;
  border-radius: 50% 50%;
  transform: translate(40px, 10px);
  animation: scale 5s infinite;
} */
