$degree: 30deg;
$base-color: rgb(239, 109, 172);
$size: 100px;


.flower {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: rotateFlower 6s infinite;
}


/* .petals {
animation: rotateFlower 6s infinite;
} */

@keyframes rotateFlower {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(360deg) translateY(-150px);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.petal {
	width: $size;
	height: $size - 70;
	border-radius: $size $size;
	position: absolute;
	transform-origin: left;
}

@for $i from 1 through 12 {
    .petal:nth-child(#{$i}) {
        transform: rotate($degree * $i);
        background-color: adjust-hue($base-color, $degree*$i);
    }
}

.face {
	width: $size - 10;
	height: $size - 10;
	border-radius: 50% 50%;
	background-color: yellow;
	position: absolute;
	transform: translate(-44px, -30px);
}

.eye {
	width: $size - 80;
	height: $size / 2;
	border-radius: $size / 2 $size / 2;
	position: absolute;
	border-top: 4px solid black;
	transition: animateEye 4s infinite;
}

.right {
	transform: translate(50px, 30px) rotate(15deg);
}

.left {
	transform: translate(18px, 30px) rotate(-15deg);
}


/* .eye {
width: 20px;
height: 20px;
background-color: black;
border-radius: 50%;
}

.right {
transform: translate(57px, 30px);
}

.left {
transform: translate(16px, 11px);
}

.eye .sparkle:nth-child(1) {
width: 5px;
height: 5px;
background-color: white;
border-radius: 50%;
transform: translate(15px; 10px;);
}

.eye .sparkle:nth-child(2) {
width: 5px;
height: 5px;
background-color: red;
border-radius: 50%;
top: 10px;
transform: translate(15px; 10px;);
} */

.mouth {
	background-color: red;
	display: inline-block;
	height: 15px;
	margin: 0 10px;
	position: absolute;
	top: 0;
	transform: translate(26px, 50px) rotate(-45deg);
	width: 15px;
}

.mouth:before,
.mouth:after {
	content: "";
	background-color: red;
	border-radius: 50%;
	height: 15px;
	position: absolute;
	width: 15px;
}

.mouth:before {
	top: -9px;
	left: 0;
}

.mouth:after {
	left: 9px;
	top: 0;
}


/* .mouth {
width: 12px;
height: 9px;
background-color: red;
border-radius: 50% 50%;
transform: translate(40px, 10px);
animation: scale 5s infinite;
} */